*.exe
*.exe~
*.dll
*.so
*.dylib

bin/
build/
out/

*.test
*.out
*.prof
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

coverage.out
coverage.html

go.work
go.work.sum

vendor/

.env

.DS_Store
.AppleDouble
.LSOverride

.vscode/

.idea/
*.iml

*.swp
*.swo